
body    {margin: 0;
        background-color: cornflowerblue;
        font-family: 'Lora', serif;}

div h2  {margin-bottom: 5px;}

header  {margin: 0 0 60px 0;
        background: sandybrown url("images/sand.jpg") fixed;
        background-size: cover;}

h1      {margin: 0;
        padding: 40px;
        font-family: 'Architects Daughter', cursive;
        /*font-style: oblique;*/
        color: mediumblue;
        text-align: center;
        font-size: 4em;}

nav     {text-align: center;
        }

nav ul  {padding-bottom: 20px;}

nav li  {display: inline;
        margin: 30px;}

nav a   {text-decoration: none;
        padding: 10px;
        border-radius: 1em;
        color: darkolivegreen;
        background-color: cornflowerblue;}

div     {margin-left: 20px;}

footer {clear: both;
        background-color: darkolivegreen;
        font-size: .7em;
        border: red solid 1px;
        padding: 0;}

footer div      {margin: 20px;
                border: black solid 1px;}

footer ul       {text-align: center;
                position: relative;
                top: 50px;}

footer li       {display: inline;
                margin: 30px;
                padding: 10px;}

footer a        {text-decoration: none;
                color: cornflowerblue;}

.CTA    {text-align: center;
        color: blue;
        border-radius: 1em;
        background-color: chartreuse;
        font-size: large;
        padding: 10px;}

.announcements h2   {text-align: center;}

.LeftPic {float: left;
            border: black solid 5px;
            margin: 0px 20px 20px 0;}

.RightPic {float: right;
            margin: 0px 0 20px 20px;
            border: black solid 5px;}

.div2   {margin: 40px 10px;}

#noBoarder {border: none;}