
body {
    width: 80%;
    margin: 1% 10% 0 10%;
    background-color: aliceblue;
    font-family: 'Lora', serif;}

div {
    margin-left: 20px;}

div h2 {
    margin-bottom: 5px;}

/*Header-------------------------------------*/
header {
    margin: 0;
    background: sandybrown url("../images/sand.jpg") fixed;
    background-size: 100%;}

h1 {
    margin: 0;
    padding: 40px;
    font-family: 'Architects Daughter', cursive;
    color: mediumblue;
    text-align: center;
    font-size: 4em;}

/*Nav-------------------------------------*/
nav {
    text-align: center;
    }

nav ul {
    padding-bottom: 20px;}

nav li {
    display: inline;
    margin: 30px;}

nav a {
    text-decoration: none;
    padding: 10px;
    border-radius: 1em;
    background-color: aliceblue;}

nav a:hover, a:focus {
    color: blue;
    background-color: aquamarine;}

/*Footer-------------------------------------*/
footer {
    float: left;
    clear: both;
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: darkolivegreen;
    font-size: .7em;
    border: red solid 1px;
    padding: 0;}

footer div {
    margin: 20px;
    border: black solid 1px;}

footer ul {
    text-align: center;
    position: relative;
    top: 50px;}

footer li {
    display: inline;
    margin: 30px;
    padding: 10px;}

footer a {
    text-decoration: none;
    color: cornflowerblue;}

/*Table-------------------------------------*/
table {
    text-align: center;}

th {
    border: #3524ff solid 1px;
    width: 5%;}

td {
    border-bottom: #3524ff solid 1px;}

/*Forms-------------------------------------*/
form {
    border: mediumblue solid 10px;
    width: 40%;
    max-width: 350px;
    position: relative;
    left: 30%;
    text-align: right;}

input {
    margin: 2em;}

.submit {
    clear: both;
    text-align: center;}

/*Classes-------------------------------------*/
.CTA {
    text-align: center;
    color: blue;
    /*border-radius: 1em;*/
    background-color: chartreuse;
    font-size: large;
    padding: 10px;}

.content {
    /*border: black solid 1px;*/
    margin: 0;}

.announcements li {

}

.announcements h2 {
    text-align: center;}

.LeftPic {
    width: 25%;
    float: left;
    border: black solid 5px;
    margin: 0 20px 20px 0;}

.RightPic {
    width: 25%;
    float: right;
    border: black solid 5px;
    margin: 0 0 20px 20px;}

.div2 {
    margin: 40px 10px;}

#noBoarder {
    border: none;}
