

form {
    border: mediumblue solid 10px;
    width: 40%;
    max-width: 350px;
    position: relative;
    left: 30%;
    text-align: right;
    }

input {
    margin: 2em;
    }

.submit {
    clear: both;
    text-align: center;
    /*padding: 2em;*/
    }